:root {
    /*Primary*/
    --soft-blue: hsl(215,51%,70%);
    --cyan: hsl(178,100%,50%);
    /*Neutral*/
    --main-bg-blue: hsl(217,54%,11%);
    --card-bg-blue: hsl(216,50%,16%);
    --line-blue: hsl(215,32%,27%);
    --white: hsl(0,0%,100%); 
    font-size: 18px;

}

html, body {
    font-family: 'Outfit', sans-serif;
    background: var(--main-bg-blue);
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.asset-image img {
    height: 350px;
    border-radius: 15px;
    display: block;
}



.asset-image {
    align-self: center;
    position: relative;
    display: flex;
}


.asset-card {
    background: var(--card-bg-blue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    padding: 15px 30px;
    width: 350px;
}

.asset-name {
    margin-top: 15px;
    color: var(--white);
    font-size: 1.75rem;
    font-weight: 600;
}

.asset-name:hover {
    color: var(--cyan);
}

.asset-description {
    color: var(--soft-blue);
    margin-bottom: 15px;
}

.asset-information {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-items: center;
}


.asset-time {
    display: flex;
    margin-left: auto;   
    gap: 15px; 
    color: var(--soft-blue);
}

.asset-time img {
    height: 20px;
}

.asset-price {
    display: flex;
    gap: 15px;
    color: var(--cyan);
}

.line {
    border-bottom: solid 2px var(--line-blue);
    width: 100%;
    margin-bottom: 15px;
}


.user-info {
    display: flex;
    gap: 25px;
}

.user-info img {
    height: 70px;
}

.created-by {
    align-self: center;
    color: var(--soft-blue);
}

.name {
    color: var(--white);
}

.name:hover {
     color: var(--cyan);
}
